# pip install -r src/requirements.txt
# Declarar variable con la ubicación del archivo
# set FLASK_APP=src/app.py
# flask run

Flask==1.1.2
Flask-SQLAlchemy==2.4.1
flask-restful
psycopg2==2.8.4
SQLAlchemy==1.3.18
flask-marshmallow
marshmallow
marshmallow-sqlalchemy
flask-cors